:root {
    --container_color: #b4bfa2;
    --background_path: url('foto/MainPage/MainPageBackground.png');
    --header_size: 52px;
    --text_size:25px;
    --colored_font: #1B4D3E;
    --Homebackground: white;
    --Project_margin: 0px 20px;
}
section{
    padding: var(--Project_margin);
}
/* W tym kontenerze będą układane kolejne elementy */
#FullPageContainer {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
/* Blok odpowiadający paskowi nawigacji */
#BarLayer {
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top:0px;
    left: 0px;
    z-index: 2;
    background: white;
}



/*//////////////////////////////////////////*/
.BackPanel{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: var(--Homebackground);
}
.RightCollumn{
    width: 100%;
    height: 50vh;
}
.LeftCollumn{
    width: 100%;
    height: 50vh;
}
#PageTextRow{
    width: 100%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;     
}
.HeaderText{
    border-bottom: 1px solid beige;
}
.SpecialTextRow{
    width: 100%;
    font-size: 22px;
    border-bottom: 1px solid beige;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    padding-left: 0px;
}
.RowReverse{
    flex-direction: row-reverse;
}

/* Blok opisujący pierwszy element strony: Strona Główna */
.HomePage {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    background-attachment: fixed;
    background-image: var(--background_path);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    align-items: start;
    margin: var(--Project_margin);
}



#HomePagePortfolio:hover {
    width: 70%;
}

.AboutPage{
    background-color: var(--Homebackground);
}
#AboutPageRightCollumnText{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.AboutPageDescriptionText{
    font-size: 15px;
    width: 100%;
    margin:auto;
    display: flex;
    line-height: 1.9;
    letter-spacing: 0.049em;
    padding: 14px 0px;
}
.AboutPageLeftCollumn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.AboutPageFoto{
    width: 210px;
    height: 210px;
    background-image:url('foto/icons/photo.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 50%;
    margin:10px;
}
/*//////////////////////////////////////////*/




/*Blok opisajacy element strony: Information*/
.InformationPage{
    background-color: var(--Homebackground);
}
.InformationPageLeftCollumn{
    height: 220px;
    display: flex;
    flex-direction: column;
}

.InformationPageTextCollumn{
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
}
.InformationPageTextCollumnDescription{
    font-size: 15px;
    width: 100%;
    margin:auto;
    display: flex;
    line-height: 1.9;
    letter-spacing: 0.049em;
}

.InformationPageRightCollumn{
    width: 100%;
    min-height: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;    
    background-color: transparent;
    overflow: hidden;
}
.InformationContainerBlockElement{
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid beige;
}

.InformationContainerBlockDescriptionText{
    width: 200px;
    height: 200px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.9;
    letter-spacing: 0.049em;
}
.InformationContainerDone {
    margin: 10px;
    width: 200px;
    max-height: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
.InformationContainerDoneImg {
    width: 0px;
    height: 50px;
    background-image: url('foto/icons/check.png');
    background-size: cover;
    background-position: center;
  } 
.InformationContainerBarLayer{
    height:25%;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
} 
.InformationPageProgresBar {
    width: 70%;
    margin: 15px;
    height: 25px;
    background-color: white;
    border: 2px solid green;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; /* Dodane ukrycie elementów, które wyjdą poza obszar */
}

.InformationPageProgresBarUpdate {
    width: 0%; /* Rozwinięcie od lewej do prawej */
    height: 100%;
    background: linear-gradient(90deg, rgba(36, 36, 0, 1) 0%, rgba(22, 121, 9, 1) 35%, rgba(117, 162, 26, 1) 100%);
    transition: width 2s ease-out 200ms;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Elementy zaczynają się od lewej krawędzi */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0; /* Ustawienie na początek elementu rodzica */
}
.InformationPageProgresBarText {
    position: relative;
    z-index: 2;
    color: white;
    background-color: transparent;
}
/*//////////////////////////////////////////*/










/*Blok opisajacy element strony: Projects*/
.ProjectsPage{
    background-image: var(--background_path);
}
    .ProjectsPageContainer{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: start;
        background-color: var(--Homebackground);
        border-radius: var(--container_radius); 
        padding:var(--Project_margin);
    }
    #ProjectsPageLeftCollumn{
        height: 45vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .ProjectsPageColumnTextRow{
        width: 100%; 
        height: 10vh; 
    }
    #ProjectsPageRightCollumn{
        height: 45vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        background:#fbed96;
    }

    .ProjectsPagePhoto {
        width: calc( 100% - 20px);
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 10px 0px;
        margin: 20px 10px;
    }
    
    .ProjectsPageOpenfoto {
        position: relative;
        width: 100%;
        height: 210px;
        background-color: white;
        cursor: pointer;
        border: 2px solid beige;
        overflow: hidden;
    }
    
    .ProjectsPageOpenfoto::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: var(--before-width, 0); /* Używamy zmiennej --before-width */
        height: 100%;
        background: linear-gradient(45deg, #abecd6 0%, #fbed96 100%);
        transition: width 1.2s ease-in-out;
    }
    
    
    .ProjectsPageOpenfoto:hover::before {
        width: 100%;
    }
    
    .ProjectsPageOpenfotoText {
        width: 100%;
        height: 100%;
        font-size: 50px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
    }

    .ProjectsPageOpenfotoText:hover {
        color: white;
    }   
    
    























    .field{
        background: linear-gradient(45deg, #abecd6 0%, #fbed96 100%);
        position: fixed;
        min-height: 100vh;
        left: -100%;
        transform: translateY(-50%);
        transition: 200ms ease-in-out;    
        z-index: 2;
        width: 100%;
        box-sizing: border-box;
        top: 50%;
        transition: 1.2s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        border-radius: var(--container_radius);
        overflow: hidden;
    }
    #ProjectsPageField{
        background-color:var(--Homebackground);
        max-height: 92vh;
        border-radius: 20px; 
        overflow-y:scroll;
        width: 90%;
        margin:auto;
        background-color: transparent;
        margin: 10px 0px;
        border: 2px solid black;
    }
    .ProjectsPageFieldContainer{
        padding: 0px;
    }
    #ProjectsPageFieldContainerRowMobile{
        width: 100%;
        height: 40px;
        position: sticky;
        margin:10px 0px;
    }
    #ProjectsPageFieldContainerRow{
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 0px;
        width: 100%;
        flex-direction: row;
        height: 0px;
        font-size: 0px;
        
    }
    #ProjectsPageFieldContainerName {
        font-size: 22px;
        margin: 0px;
        width: 100%;
        display: flex;
        justify-content: left;
    }
    .ProjectsPageFieldContainerBox {
        width: 100%;
        max-height: calc(72vh - 90px);
        display: flex;
        flex-direction: row;
        background-color: transparent;
    }
    .ProjectsPageFieldContainerBoxLeft,
    .ProjectsPageFieldContainerBoxRight {
        display: none;
    }
    .ProjectsPageFieldContainerBoxInfo{
        position: relative;
        width: 100%;
        max-height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        flex-direction: column-reverse;
        margin:2px 2px
    }
    #videoPlayer {
        background-color: black;
        border-radius: 20px;
        max-height: 300px;
    }
    .ProjectsPageFieldContainerBoxInfo video {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    #ProjectsPageFieldContainerDescription{
        min-height: 20vh;
        display: flex;
        flex-direction: column;
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid black;

    }
    #ProjectsPageFieldButtonReturn{
        width: 25px;
        height: 25px;
        background-color: transparent;
        cursor: pointer;
        z-index: 10;
        border: 4px solid black;
        transition: all 0.4s ease;
        border-radius: 4px;
        position: absolute !important;
        top:0px;
        left: calc(50% - 25px);
    }
    #ProjectsPageFieldButtonReturn:hover{
        border-left: none;
        border-bottom: none;
        transform: rotate(-135deg);
    }










































    
/*//////////////////////////////////////////*/
.activefield{
    left: 0;
}



#Inf img{
    width: 100px;
    height: 300px;
}